

@{
    ViewBag.Title = "Добавление записи";
   
}
<div class="reset" style="margin:0 35% 0 35% ; min-width:15rem">

<form  action="~/People/AddPerson" method='post'>
        <div class="form-group">

            <label style="text-align: center">Фамилия:</label><br />
    <input class="form-control" name='person.LastName' /><br />
        </div>
        <div class="form-group">
    <label>Имя:</label><br />
            <input class="form-control" name='person.FirstName' /><br />
        </div>
        <div class="form-group">
    <label>Отчество:</label><br />
            <input class="form-control" name='person.SurName' /><br />
        </div>
        <div class="form-group">
    <label>Место жительства:</label><br />
            <input class="form-control" name='person.PostalAddress' /><br />
        </div>
        <div class="form-group">
    <label>Номер телефона:</label><br />
            <input class="form-control" name='person.PostalAddress' /><br />
        </div>
        <div class="form-group">
    <label>Краткое описание:</label><br />
            <input class="form-control" name='person.Description' /><br />
        </div>
    <p></p>
        <div class="text-center">
            
        <input  type='submit' class="btn btn-primary " value='Добавить' />
        </div>
</form>

</div>

