

@{
    ViewBag.Title = "Записная книжка";
    Layout = "_Layout";
}
@model IEnumerable<Person>

    <div class="mx-2">

    <h2 class="mystyle"> Записи : </h2>

    <div class="table-responsive my-2 border rounded">

        <table class="table table-bordered mb-0 ">

    @*  <caption>Записная книжка :</caption> *@

    <thead style="font-size:20px;">
        <tr class="tableStyle1">
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th colspan="2">Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item!=null)
            {
                <tr class="tableStyle2">
                    <td><a href="/People/FullInfo?id=@item.Id">@item.Id</a></td>
                <td>@item.LastName</td>
                <td>@item.FirstName</td>
                <td><a href="/People/DeletePerson?id=@item.Id">Удалить</a></td>
                <td><a href="/People/EditPerson?id=@item.Id">Изменить</a></td>
            </tr>
            }
        }
    </tbody>  
    <tfoot>
                <tr>
                    <th colspan="5">Кликнуть по ID для детальной информации о контакте</th>
                </tr>
        

    </tfoot>
    </table>
 </div>

    <a class="btn btn-primary" href="/People/AddPerson">Добавить запись</a>

    </div>



