

@{
    ViewBag.Title = "Записная книжка";
    Layout = "_Layout";
}
@model IEnumerable<Person>

<h2 class="mystyle"> Записи : </h2>

<table class="table">

    <thead style="font-size:20px;">
        <tr class="tableStyle1">
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item!=null)
            {
                <tr class="tableStyle2">
                    <td><a href="/People/FullInfo?id=@item.Id">@item.Id</a></td>
                <td>@item.LastName</td>
                <td>@item.FirstName</td>
                <td><a href="/People/DeletePerson?id=@item.Id">Удалить</a></td>
                <td><a href="/People/EditPerson?id=@item.Id">Изменить</a></td>
            </tr>
            }
        }
    </tbody>  
</table>
<a href="/People/AddPerson">Добавить запись</a>

