@using Module19.Authorization

@model LogInUser;
@using Module19.Controllers;
@{
    ViewBag.Title = "Ошибка доступа";
}

<div style="margin:20px">

<h1 style="text-align:center ">Недостаточно прав доступа!!!</h1>
</div>