@model Module19.Authorization.RegUser

 @using Module19.Controllers;
@{
    
    ViewBag.Title = "Регистрация";
}
<style>
    .mb2{
        margin-bottom:1rem;
        
    }
</style>
<div class="container">
    <div class="reset">
        <div class="reset" style="margin:0 35% 0 35% ; min-width:15rem">
            <h3 class="text-center">Регистрация</h3>

            <form class="form" asp-action="Register" asp-controller="Account" asp-antiforgery="true">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-xs-12 mb2">
                    <div class="form-group">
                        <input asp-for="LoginProp" class="form-control" placeholder="Логин" />
                    </div>
                </div>

                <div class="col-xs-12 mb2">
                    <div class="form-group">
                        <input asp-for="Password" class="form-control" placeholder="Пароль" />
                    </div>
                </div>

                <div class="col-xs-12 mb2 ">
                    <div class="form-group">
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Продублируйте пароль" />
                    </div>
                </div>

                <div class="text-center col-xs-12">
                    <button type="submit" class="btn btn-default">Зарегистрироваться</button>
                </div>
            </form>

        </div>
    </div>
</div>
